$seconds: 0.8s;
* {
  box-sizing: border-box;
  transition: all $seconds ease;

}

// #second-layout, #layout, .card  {
//   transition: all $seconds ease-in-out;
// }

// #super-layout > * {
//   transition: all $seconds ease-in-out;
// }

// #super-layout {
//   overflow: hidden;
// }
#layout {
  width: 100vw;
  height: 100vh;
}



@media screen and (orientation: landscape) {

  #layout {
    max-height: 100vh;
    // padding: 0.8em;
    display: grid;
    grid-template-areas:
    "languages languages languages second-layout"
    "card-1 card-1 card-2 second-layout"
    "card-3 logo card-2 second-layout"
    "card-3 card-4 card-4 second-layout";
    // gap: 0.8em;
  }

  .fold {
    width: 0vw;
  }
  .unfold {
    width: 50vw;
  }
  // #super-layout { display: grid; }
  $fr: 2.5em;
  .gtc-101 { grid-template-columns: 1fr 0fr 1fr 0fr; }
  .gtc-001 { grid-template-columns: 0.1fr 0fr 1fr 0fr; }
  .gtc-100 { grid-template-columns: 1fr 0fr 0.1fr 0fr; }
  .gtr-101 { grid-template-rows: 0fr 1fr 0fr 1fr; }
  .gtr-001 { grid-template-rows: 0fr 0.1fr 0fr 1fr; }
  .gtr-100 { grid-template-rows: 0fr 1fr 0fr 0.1fr; }

  #layout {
      margin-block-start: auto;
      margin-inline: auto;
      width: -webkit-fill-available
  }
    // #second-layout {
    //   height: calc(100vh - 1.6em);
    //   width: calc(50vw - 0.8em);
    //   margin: 0.8em 0em 0.8em 0em;
    //   border-top-left-radius: 0.5em;
    //   border-top-right-radius: 0.5em;
    //   border-bottom-left-radius: 0.5em;
    //   border-bottom-right-radius: 0.5em;
    // }
    // .hide-second-layout {
    //   grid-template-columns: 1fr 0fr;
    // }
    // .unfold-second-layout {
    //     grid-template-columns: 1fr 0fr;
    //   }
    // .hide-second-layout > #second-layout { width: 0em; overflow: hidden;}

  }

  @media screen and (orientation: portrait) {
    #layout {

      // padding: 0.8em;
      display: grid;
      grid-template-areas:
      "languages languages languages"
      "card-1 card-1 card-2"
      "card-3 logo card-2"
      "card-3 card-4 card-4"
      "second-layout second-layout second-layout";
      // gap: 0.8em;
    }

    .gtc-101 { grid-template-columns: 1fr 0fr 1fr; }
    .gtc-001 { grid-template-columns: 0.05fr 0fr 1fr; } //projects, stack
    .gtc-100 { grid-template-columns: 1fr 0fr 0.05fr; } //contact, qui soc
    .gtr-101 { grid-template-rows: 0fr 1fr 0fr 1fr; }
    .gtr-001 { grid-template-rows: 0fr 0.1fr 0fr 1fr; } //contact, projects
    .gtr-100 { grid-template-rows: 0fr 1fr 0fr 0.1fr; } //qui soc, stack
    // #second-layout {height: calc(50vh - 0.8em);
    //   margin: 0 0.8em 0.8em 0.8em;
    //   border-radius: 0.5em
    // }
    // .unfold-second-layout > #layout {
    //   height: 50vh;
    // }
    // .hide-second-layout > #layout {
    //   height: 100vh;
    //   /* background: green;  */
    // }
    // #super-layout {
    //   overflow: hidden;
    //   height: 100vh
    // }
  }


@media only screen and (min-width: 1100px) and (orientation: landscape) { /* laptop margins */
  // #layout {
  //   max-width: 75vw;
  // }
  // .layout-75 {
  //   width: 75vw
  // }
}

@media only screen and (max-width: 480px) {
  // #layout > .card {
  //   margin: 0.5em
  // }
  #layout {
  //   min-height: 100vh;
    display: block
  }
  // #second-layout {
  //   box-sizing: border-box;
  //   position: fixed;
  //   border-radius: 0.5em;
  // }
  // #second-layout {
  //   position: fixed; top: 0px;
  // }
  // .unfold-second-layout > #second-layout {
  //   height: 100vh; width: 100vw;
  // }
  // .hide-second-layout > #second-layout {
  //   height: 100vh; width: 0vw;  overflow: hidden; left: -1px;
  // }

}

// #second-layout h4 {
//    margin-bottom: 0.5em;
// }
// #second-layout h4:not(:first-child){
// margin-top: 1em;
// }


// #languages > button {
//   border: none;
//   background: transparent;
//   text-decoration: underline;

// }
// #languages {
//   height: 0.8em
// }

// #second-layout button {
//   font-weight: 900;
//   font-size: small
// }
