$seconds: 0.8s;

* {
  box-sizing: border-box;
  transition: all $seconds ease;
}

#layout {
  height: 100vh;
  gap: 0.6em;

}

@media screen and (orientation: landscape) {
  .unfold.gtc-101 { grid-template-columns: 1fr 0fr 1fr 0fr; }
  .unfold.gtc-001 { grid-template-columns: 0fr 0fr 1fr 0fr; }
  .unfold.gtc-100 { grid-template-columns: 1fr 0fr 0fr 0fr; }
  .unfold.gtr-101 { grid-template-rows: 0fr 1fr 0fr 1fr; }
  .unfold.gtr-001 { grid-template-rows: 0fr 0fr 0fr 1fr; }
  .unfold.gtr-100 { grid-template-rows: 0fr 1fr 0fr 0fr; }

  .fold.gtc-101 { grid-template-columns: 1fr 0fr 1fr 0fr; }
  .fold.gtc-001 { grid-template-columns: 0fr 0fr 1fr 0fr; }
  .fold.gtc-100 { grid-template-columns: 1fr 0fr 0fr 0fr; }
  .fold.gtr-101 { grid-template-rows: 0fr 1fr 0fr 1fr; }
  .fold.gtr-001 { grid-template-rows: 0fr 0fr 0fr 1fr; }
  .fold.gtr-100 { grid-template-rows: 0fr 1fr 0fr 0fr; }
}

@media screen and (orientation: landscape) {

  #layout {
    padding: 0.8em 0em 0.8em 0.8em;
    display: grid;
    grid-template-areas:
    "languages languages languages second-layout"
    "aboutMe aboutMe stack second-layout"
    "contact logo stack second-layout"
    "contact projects projects second-layout";
  }
    #layout {
      margin-block-start: auto;
      margin-inline: auto;
    }
  }

  @media screen and (orientation: portrait) {
    #layout {
      padding: 0.8em;
      display: grid;
      grid-template-areas:
      "languages languages languages"
      "aboutMe aboutMe stack"
      "contact logo stack"
      "contact projects projects"
      "second-layout second-layout second-layout";
    }

    .gtc-101 { grid-template-columns: 1fr 0fr 1fr; }
    .gtc-001 { grid-template-columns: 0fr 0fr 1fr; } //projects, stack
    .gtc-100 { grid-template-columns: 1fr 0fr 0fr; } //contact, qui soc
    .gtr-101 { grid-template-rows: 0fr 1fr 0fr 1fr; }
    .gtr-001 { grid-template-rows: 0fr 0.1fr 0fr 1fr; } //contact, projects
    .gtr-100 { grid-template-rows: 0fr 1fr 0fr 0.1fr; } //qui soc, stack
  }

@media only screen and (max-width: 480px) {

  #layout {
    display: block;
    padding: 0.8em
  }
  .card {
    margin-bottom: 0.8em;
  }
}

#languages > button {
  border: none;
  background: transparent;
  text-decoration: underline;
  transition: none;

}
#languages > button:hover {
  font-weight: 700;
}

#languages {
  height: 1em
}
