
.logo-chara {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  transition: transform 4s ease; /* Apply a smooth transition for the rotation */
}




.logo-chara {/* DEUTE TÈCNIC */
  margin: auto;
  border: 1px solid black;
  width: clamp(15px, 3vw, 100px); height: clamp(15px, 3vw, 100px);
  border-radius: 3em; background-color: black; color: white;
  display: flex; justify-content: center; align-items: center;
  font-size:larger
}
@media only screen and (min-width: 480px) {

  .medium-logo {
    width: 18vw
  }
  .smaller-logo {
    width: 12vw
  }

  #logo {
    transition: all 0.7s ease 0s;
    /* width: 18vw */
  }
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(4, 3vw);
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (max-width: 480px) {

  .logo-grid {
    display: flex;
    /* grid-template-columns: repeat(7, 1fr); */
    /* grid-template-rows: 1fr; */
  }


  /* #logo > div:first-child {
    grid-template-rows: 1fr 1fr;

  } */

  .logo-chara { /* DEUTE TÈCNIC */
    margin: auto;
    border-radius: 3em; background-color: black; color: white;
    display: flex; justify-content: center; align-items: center;
    font-size:larger;
    width: clamp(38px, calc(100vw/7), 100px); height: clamp(38px, calc(100vw/7), 100px)
  }
  #logo > div:first-child > div:not(.logo-chara) {
    display: none
  }
}



@media (max-width: 700px) and (max-height: 400px) {
  #webdev{display: none}
}
