#projects-container {
  /* background: red; */
  /* background: black; */
  display: grid;
  /* height: 50vh; */
  width: 100%; height: 100%;
  gap: 1px
}


.projects {
  height: 100%; width: 100%;
  overflow: auto
}

.project > div:first-child {
    height: 50%
}

/* .project div:nth-child(2) > div:first-child{
  max-width: 100%;
  overflow: hidden;
  height: 6em
} */

@media only screen and (min-width: 480px) {
  .projects{
    width: 100%;
    display: grid;
  }
}

@media only screen and (min-width: 480px) {
  .project div:nth-child(2) > div:first-child{
  /* -webkit-line-clamp: 4; */
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
}

.project {
  background: white;
  height: 100%;
  overflow: hidden;
}

.project h3 {
  font-size: 1em; margin: 0px; padding: 0px
}

.p-hashtags {
position: absolute; bottom: 0; display: flex; flex-wrap: wrap; flex-direction: row-reverse; align-content: flex-start
}

@media only screen and (max-width: 480px) {
  #projects-container {
    /* background: red; */
    display: block;
    height: 50vh;
  }
  #projects-container , .project {
    width: 100%;
    /* height: 230px */
  }
  .project div:nth-child(2) > div:first-child{height: 100%}
}

@media (max-width: 900px) and (max-height: 500px) {
  .project div:nth-child(2) > div:first-child p {display: none}
  .project {position: relative}
  .project h3 {position: absolute; bottom: 0}
  .project div:nth-child(2) p {display: none}
  .project div:first-child {  height: 100%  }
  .p-hashtags {display: none}
}

.project h4 {
  display: none
}
.project * {
  font-size: 0.92em
}


.p-hashtags > * {
  color: white;
  border-radius: 3em;
  font-size: 0.8em;
   padding: 0em 0.9em
}
