.border {
  border-width: 1px;
  border-style: solid;
}
#second-layout {
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em
}

#img-container {
  height: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
}
  #close-button {position: absolute; top: 10; right: 10px;}
  #nextimg-button {position: absolute; top: 50%; right: 10px;}
  #previmg-button {position: absolute; top: 50%; left: 0px;}
#txt-container {
  height: 50%;
  overflow: auto;
  background: white;
}
#second-layout-image {
  max-width: 100%; height: fit-content;
  margin: auto;
}

@media screen and (orientation: landscape) and (min-width: 700px){
  .unfold > #second-layout {
    margin-right: 0.8em;
  }
  .fold > #second-layout {
    margin-right: 0em;
  }

}
@media screen and (orientation: portrait) {
  #second-layout {
    height: 50vh
  }
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
  #second-layout {
    position: absolute;
    top: 0;
    left: 0;
  }
  .unfold #second-layout {
    width: 100vw;
    height: 100vh;
  }
  .fold #second-layout {
    width: 0vw;
  }
}

#second-layout > div:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 50%;
  border-bottom: 1px solid black;
}

#second-layout > div:nth-of-type(2) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background: white; height: 50%;
}
#second-layout > div:nth-of-type(2) > div:first-of-type {
  border-bottom: 1px solid black
}

#second-layout h2 {
  font-size: 1.7em;
  padding: 0em 0.5em;
}
#second-layout p {
  padding: 0px 0.25em; margin: 0px
}

#second-layout > div:nth-of-type(2)  > div:nth-of-type(1) > div:nth-of-type(1) {
  border-top: 1px solid black;
  margin: 0px; padding: 0px;
}

#project-links {
  margin: 0px; padding: 0px; list-style: none;
  display: flex;
}
#project-links > li {
  width: 33%;
  text-align: center;
}

#project-links > li:not(:last-child) {
  border-right: 1px solid black;
}

#second-layout button {
  border-radius: 100px;
  background: white;
  width: 2rem;
  height: 2rem;
  color: black;
  border: 3px solid black;
  margin: 0.5rem;
  font-weight: 900;
}

#second-layout p {
  padding: 1.2rem
}
