.stack {
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  gap: 1px

  /* flex-flow: column; */
}

.stack table {
  width: 100%
}

.stack div {
 width: 100%;
}
table { border-spacing: 0px }

.stack th, td {
  text-align: center;
  width: 100%;
  /* border: 1px solid black; */
  /* border-right: 1px solid black; */
  border-collapse: collapse;
  background-color: white;
}

/* .stack th, td:not(:last-child){ */
  .stack th, td{

  border-bottom: 1px solid black;
}


.stack div:last-child table:last-child tr:last-child td:last-child{

  border-bottom: 1px solid transparent;
}

@media only screen and (max-width: 480px) {
  .stack {
    display: block;
  }
}
