$color: #2e1a1a;
$color2: #632f2f;

* {
  color: $color
}

#webdev {
  background: $color
}
#title-container {
  background: $color;
  color: white;
}

.chara-container, .card, #second-layout{
  filter: drop-shadow(0.25em 0.2em 0 $color);
}

#second-layout::-webkit-scrollbar-thumb {
  background: $color
}

.border {
  border-color: $color;
}
#img-container > *::-webkit-scrollbar-track {
  background: $color;
}
#txt-container::-webkit-scrollbar-track {
  background: $color;
}


#img-container {
  background: $color;
}
