$color: #450000;
$color2: #632f2f;

* {
  color: $color
}

#webdev {
  background: $color2
}
#title-container {
  background: $color2;
  color: white;
}

.chara-container, .card, #second-layout{
  filter: drop-shadow(0.25em 0.2em 0 $color2);
}

#second-layout::-webkit-scrollbar-track {
  // background: $color
}

#second-layout::-webkit-scrollbar-thumb {
  background: $color

}
