$color: #450000;
$color2: #632f2f;

* {
  color: $color
}

#webdev {
  background: $color2
}
#title-container {
  background: $color2;
  color: white;
}

.chara-container, .card{
  filter: drop-shadow(0.25em 0.2em 0 $color);
}
