$color: mediumturquoise;
// $color2: pink;


div[data-index="stack"] {
  // background: $color;
  border-color: $color;
}

div[data-index="stack"] h2 {
  color: $color
}

.stack th, td{
  border-bottom: 1px solid $color;
}

.stack {
  background: $color;
  border-color: $color;
  border-top-color: $color
}

div[data-index="stack"].skelleton {
  background: rgb(226, 255, 237)
}
.stack::-webkit-scrollbar-track {
  background: $color
}
.stack::-webkit-scrollbar-thumb {
  border-left: 1px solid $color;
}

.stack *::selection {
  background-color: $color;
  color: white
}

.stack th {
  background: $color; color: white;
}
